@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,500;1,600&display=swap');

:root {
    --grey-500: #4d4f62; 
    --grey-400: #6a7178;
    --white: #ffffff;
    --red: #ea5454;
    --cyan: #44d3d2;
    --blue: #549ef2;
    --orange: #fcae4a;

    --bodycolor: #fafafa;
}
* {
  padding: 0rem;
  margin: 0rem;
}

header {
    text-align: center;
    display: grid;
    place-items: center;
}

.header-item {
    width:20.93rem;
    margin-top: 3.73rem;
}

.teaser {
    margin-top: 1rem;
}

body {
    font-family: "Poppins", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    background-color: var(--bodycolor);
}

.text-preset-1 {
    font-size: 2.4rem;
    font-size: 1.6rem;
    line-height: 1.4;
    letter-spacing: 0.25px;
    font-weight: 600;
    color: var(--grey-500);
}

.text-preset-2 {
    font-size: 1.6rem;
    line-height: 1.4;
    letter-spacing: 0.25px;
    font-weight: 200;
    color: var(--grey-500);
}

.text-preset-3 {
    font-size: 1.33rem;
    line-height: 1.35;
    letter-spacing: 0px;
    font-weight: 600;
    color: var(--grey-500);
    margin-bottom: 0.4rem;
}

.text-preset-4 {
    font-size: 1rem;
    line-height: 1.4;
    letter-spacing: 0px;
    font-weight: 400;
    color: var(--grey-500);
}

.text-preset-5 {
    font-size: 0.87;
    line-height: 1.6;
    letter-spacing: 0px;
    font-weight: 400;
    color: var(--grey-400);
}


.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 3rem;

}

.centered-box {
    width: auto;
    min-height: auto;
    box-sizing: border-box;
    display:grid;
    grid-template-columns: 1fr;
    gap: 2.13rem;
   /* background-color: var(--white);*/
}


.item {
  width: 20.93rem;
  height: 16.67rem;
  background-color: var(--white);
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.250) 0px 4px 4px 0px;
  box-sizing: border-box;
  padding: 2.13rem;

}

.grid-item-1 {
  border-top: 0.25rem solid var(--cyan);
}

.grid-item-2 {
  border-top: 0.25rem solid var(--red);
}

.grid-item-3 {
  border-top: 0.25rem solid var(--orange);
}

.grid-item-4 {
  border-top: 0.25rem solid var(--blue);
}


.feature-text {
    text-align: left;
}
.feature-icon {
    display: flex;
    justify-content: right;
    margin-top: 2.133rem;
}
@media screen and (min-width: 786px) {

  .centered-box {
      width: auto;
      min-height: auto;
      box-sizing: border-box;
      display:grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 2.13rem;
  }

  .text-preset-1 {
    font-size: 2.4rem;
  }
  
  .text-preset-2 {
    font-size: 2.4rem;
  }

  .header-item {
    width:36rem;
    margin-top: 5.33rem;
    margin-bottom: 2.9rem;
  }
  .grid-item-1 {
    grid-row: 2;
    grid-column: 1 / span 2;
  }

  .grid-item-2 {
    grid-row: 1;
    grid-column: 2 / span 2;
  }

  .grid-item-3 {
    grid-row: 2;
    grid-column: 3 / span 2;
  }

  .grid-item-4 {
    grid-row: 3;
    grid-column: 2 / span 2;
  }
}



@media screen and (min-width: 1100px) {

  .centered-box {
      width: auto;
      min-height: auto;
      box-sizing: border-box;
      display:grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
      gap: 2.13rem;
  }

  .text-preset-1 {
    font-size: 2.4rem;
  }
  
  .text-preset-2 {
    font-size: 2.4rem;
  }
  .item {
    width: 23.33rem;
  }

  .header-item {
    width:36rem;
    margin-top: 7.3rem;
    margin-bottom: 3rem;
  }

  .grid-item-1 {
    grid-column: 1;
    grid-row: 2 / span 2;
  }

  .grid-item-2 {
    grid-column: 2;
    grid-row: 1/ span 2;
  }

  .grid-item-3 {
    grid-column: 2;
    grid-row: 3 / span 2;
  }

  .grid-item-4 {
    grid-column: 3;
    grid-row: 2 / span 2;
  }
}


  /* Frontend Mentor's attribution stuff */
    .attribution { font-size: 11px; text-align: center; margin-block-start: 2rem;}
    .attribution a { color: hsl(228, 45%, 44%); }
  

